{
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "printWidth": 100,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "quoteProps": "consistent",
  "endOfLine": "crlf",
  "tabWidth": 4,
  "useTabs": false,
  "semi": true,
  "rangeStart": 0,
  "rangeEnd": 30
}